<app-header></app-header>
<div class="container">
  <h2>Estado de tus Procesos</h2>

  <div *ngIf="isLoading" class="loading">
    <p>Cargando datos...</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="!isLoading && userData && !errorMessage" class="user-info">
    <h3>Información Registrada</h3>

    <table class="horizontal-table">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>ID</th>
        <th>Universidad</th>
        <th>Periodo</th>
        <th>Comentario</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ userData.firstName || 'N/A' }} {{ userData.lastName || 'N/A' }}</td>
        <td>{{ userData.email || 'N/A' }}</td>
        <td>{{ userData.idNumber || 'N/A' }}</td>
        <td>{{ userData.universityName || 'N/A' }}</td>
        <td>{{ userData.period || 'N/A' }}</td>
        <td>{{ userData.comentario || 'Sin comentario' }}</td>
      </tr>
      </tbody>
    </table>

    <button class="boton-continuar" (click)="continueProcess()">Continuar Proceso</button>
  </div>



</div>
