<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<footer class="final">
    <div class="simbolo">
      <img src="assets/img/logoFooter.png" alt="Logo Footer">
    </div>
    <div class="redes">
        <img src="assets/img/facebook.svg" alt="Facebook" (click)="facebook()">
        <img src="assets/img/x.svg" (click)="twitter()">
        <img src="assets/img/Instagram.svg" alt="Instagram" (click)="instagram()">
    </div>

</footer>

</body>
</html>
