.final {
  background-color: #69c5db;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 30px;
  width: 100%;
}

.simbolo img {
  height: 50px;
  cursor: pointer;
}

