<div class="backdrop">
  <div class="modal-container">
    <button class="close-btn" (click)="closeDialog()">×</button>
    <h2>Encuesta de Movilidad {{ proceso === 'outgoing' ? 'OUTGOING' : 'INCOMING' }}</h2>

    <form [formGroup]="encuestaForm" (ngSubmit)="submitSurvey()">
      <label>Nombres y Apellidos</label>
      <input formControlName="nombres" type="text" readonly />

      <label>Universidad de Origen</label>
      <input formControlName="universidad" type="text" readonly />

      <label>Carrera/Titulación</label>
      <input formControlName="carrera" type="text" readonly />

      <label>Tipo de Movilidad</label>
      <input formControlName="tipoMovilidad" type="text" readonly />

      <label>País</label>
      <input formControlName="pais" type="text" readonly />

      <label>Periodo del intercambio</label>
      <input formControlName="periodoIntercambio" type="text" readonly />

      <!-- Preguntas dinámicas -->
      <ng-container *ngFor="let pregunta of preguntasVisibles">
        <label>{{ pregunta.subtitle }}</label>
        <label>{{ pregunta.label }}</label>
        <ng-container [ngSwitch]="pregunta.type">
          <textarea *ngSwitchCase="'text'" [formControlName]="pregunta.name" [readonly]="soloLectura"></textarea>
          <select *ngSwitchCase="'select'" [formControlName]="pregunta.name" [disabled]="soloLectura">
            <option value="Si">Sí</option>
            <option value="No">No</option>
          </select>
          <select *ngSwitchCase="'options'" [formControlName]="pregunta.name" [disabled]="soloLectura">
            <option>Deficiente</option>
            <option>Aceptable</option>
            <option value="Si">Regular</option>
            <option value="No">Bueno</option>
            <option value="Si">Excelente</option>
          </select>
        </ng-container>
      </ng-container>

      <!-- Navegación de preguntas -->
      <div class="nav-buttons" *ngIf="totalPages > 1">
        <button type="button" (click)="paginaAnterior()" [disabled]="paginaActual === 0">Anterior</button>
        <button type="button" (click)="paginaSiguiente()" [disabled]="paginaActual >= totalPages - 1">Siguiente</button>
      </div>

      <button type="submit" [disabled]="soloLectura">Enviar Encuesta</button>
    </form>
  </div>
</div>
