<div class="backdrop">
  <div class="modal-container">
    <button class="close-btn" (click)="closeDialog()">×</button>
    <h2 class="modal-title">Encuesta de Movilidad {{ proceso === 'outgoing' ? 'OUTGOING' : 'INCOMING' }}</h2>

    <form [formGroup]="encuestaForm" (ngSubmit)="submitSurvey()">
      <ng-container *ngIf="paginaActual === 0">
        <div class="section">
          <h3 class="section-title">Datos Personales</h3>
          <label>Nombres y Apellidos</label>
          <input formControlName="nombres" type="text" readonly />

          <label>Universidad de Origen</label>
          <input formControlName="universidad" type="text" readonly />

          <label>Carrera/Titulación</label>
          <input formControlName="carrera" type="text" readonly />

          <label>Tipo de Movilidad</label>
          <input formControlName="tipoMovilidad" type="text" readonly />

          <label>País</label>
          <input formControlName="pais" type="text" readonly />

          <label>Periodo del intercambio</label>
          <input formControlName="periodoIntercambio" type="text" readonly />
        </div>
      </ng-container>

      <!-- Preguntas dinámicas -->
      <div *ngIf="paginaActual > 0">
        <div class="section">
          <ng-container *ngFor="let pregunta of preguntasVisibles">
            <h3 class="section-title" *ngIf="pregunta.subtitle">
              <label class="subtitulo">{{ pregunta.subtitle }}</label>
            </h3>
            <label>{{ pregunta.label }}</label>

            <ng-container [ngSwitch]="pregunta.type">
              <textarea *ngSwitchCase="'text'" [formControlName]="pregunta.name" [readonly]="soloLectura"></textarea>

              <select *ngSwitchCase="'select'" [formControlName]="pregunta.name" [disabled]="soloLectura">
                <option value="">Seleccione una opción</option>
                <option value="Si">Sí</option>
                <option value="No">No</option>
              </select>

              <select *ngSwitchCase="'options'" [formControlName]="pregunta.name" [disabled]="soloLectura">
                <option value="">Seleccione una opción</option>
                <option>Deficiente</option>
                <option>Aceptable</option>
                <option>Regular</option>
                <option>Bueno</option>
                <option>Excelente</option>
              </select>

              <select *ngSwitchCase="'comunicacion'" [formControlName]="pregunta.name" [disabled]="soloLectura">
                <option value="">Seleccione una opción</option>
                <option>Correo</option>
                <option>Sitio web UTPL</option>
                <option>Indicación de amigos</option>
                <option>Redes sociales</option>
              </select>

              <select *ngSwitchCase="'aspectos'" [formControlName]="pregunta.name" [disabled]="soloLectura">
                <option value="">Seleccione una opción</option>
                <option>Interculturalidad</option>
                <option>Nuevos amigos</option>
                <option>Nuevas habilidades tecnológicas</option>
                <option>Aprendizaje de un nuevo idioma</option>
                <option>Visión global de su carrera</option>
                <option>Ninguno de los anteriores</option>
              </select>
            </ng-container>

            <!-- Mensaje de error -->
            <div *ngIf="encuestaForm.get(pregunta.name)?.invalid && encuestaForm.get(pregunta.name)?.touched" class="error-msg">
              Este campo es obligatorio.
            </div>
          </ng-container>
        </div>
      </div>

      <app-alerta
        [visible]="showAlerta"
        [titulo]="'¡Encuesta exitosamente realizada!'"
        [mensaje]="'Gracias por completar la encuesta.'"
        [tipo]="'exito'"
        [icono]="'🎉'"
        [autoCerrar]="true"
        [tiempo]="3000"
        (cerrado)="showAlerta = false">
      </app-alerta>

      <!-- Navegación -->
      <div class="nav-buttons" *ngIf="totalPages > 1">
        <button type="button" (click)="paginaAnterior()" [disabled]="paginaActual === 0">Anterior</button>
        <button type="button" (click)="paginaSiguiente()">Siguiente</button>
      </div>

      <button class="submit-btn" type="submit" *ngIf="paginaActual === totalPages - 1">Enviar encuesta</button>
    </form>
  </div>
</div>
