<app-header></app-header>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo de Fuente Personalizada</title>
  <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">
  <style>
    .custom-title {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</head>
<body>
<section class="seccion-1">
  <div class="content">
    <h1 class="titulo-global">Global Campus</h1>
    <img src="assets/img/Decore.svg" alt="Línea amarilla" class="underline">
    <p>La Movilidad académica internacional se enfoca en la internacionalización de la educación
      superior por un período de tiempo determinado a través de la cooperación y convenios con
      diversas universidades en todo el mundo.</p>
  </div>
  <div class="img">
    <img src="assets/img/home.svg" alt="Grafico-1" class="grafico-1">
  </div>
</section>

<section class="seccion-2">
  <div>
    <h2 class="subtitulo">Tipos de Movilidad</h2>
  </div>
  <div class="contenido">
    <div class="tipo-movilidad">
      <img src="assets/img/intercambio.png" alt="Intercambios">
      <h3>Intercambio Internacional</h3>
      <p>Permiten al estudiante cursar un ciclo académico en instituciones extrangeras aliadas.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/cursos.png" alt="Cursos Cortos">
      <h3>Cursos Cortos</h3>
      <p>Programas diseñados por iniciativa de la IES de acogida, no mayor a 3 meses.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/visita_academica.png" alt="Visitas de estudio">
      <h3>Visitas de estudio</h3>
      <p>Visitas académicas de grupos de estudiantes o docentes/investigadores.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/investigacion.png" alt="Visitas de estudio">
      <h3>Estancias de Investigación</h3>
      <p>Visitas académicas de grupos de estudiantes o docentes/investigadores.</p>
    </div>
  </div>

  <div class="contenido">
    <div class="tipo-movilidad">
      <img src="assets/img/voluntariado.png" alt="Cursos Cortos">
      <h3>Voluntariado</h3>
      <p>Actividades de caracter voluntario que participa el estudiante en las que interviene la vinculación con la sociedad </p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/pasantias.png" alt="Practicas- Pasantias">
      <h3>Pasantias - Practicas</h3>
      <p>Visitas académicas de grupos de estudiantes o docentes/investigadores.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/representacion.png" alt="Representacion Estudiantil">
      <h3>Representación Estudiantil</h3>
      <p>Visitas académicas de grupos de estudiantes o docentes/investigadores.</p>
    </div>
  </div>

</section>
<section class="seccion-3">
  <div class="card">
    <h3 class="card-title">¿Eres estudiante UTPL?</h3>
    <img src="assets/img/image.png" alt="Campus UTPL" class="card-image">
    <button class="card-button">Ingresa aquí</button>
  </div>
  <div class="card">
    <h3 class="card-title">¿Eres estudiante visitante?</h3>
    <img src="assets/img/image.png" alt="Campus UTPL" class="card-image">
    <button class="card-button">Ingresa aquí</button>
  </div>
</section>

<app-footer></app-footer>

</body>
</html>




