<app-header></app-header>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo de Fuente Personalizada</title>
  <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">
  <style>
    .custom-title {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</head>
<body>
<section class="seccion-1">
  <div class="content">
    <h1 class="titulo-global">Global Campus</h1>
    <img src="assets/img/Decore.svg" alt="Línea amarilla" class="underline">
    <p>La Movilidad académica internacional se enfoca en la internacionalización de la educación
      superior por un período de tiempo determinado a través de la cooperación y convenios con
      diversas universidades en todo el mundo.</p>
  </div>
  <div class="img">
    <img src="assets/img/imagen-home.svg" alt="Grafico-1" class="grafico-1">
  </div>
</section>

<section class="seccion-2">
  <div>
    <h2 class="subtitulo">Tipos de Movilidad</h2>
  </div>
  <div class="contenido">
    <div class="tipo-movilidad">
      <img src="assets/img/icon.svg" alt="Prácticas/Pasantías">
      <h3>Prácticas/Pasantías</h3>
      <p>Programas internacionales que permiten al estudiante adquirir experiencia laboral.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/icon.svg" alt="Cursos Cortos">
      <h3>Cursos Cortos</h3>
      <p>Programas diseñados por iniciativa de la IES de acogida, no mayor a 3 meses.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/icon.svg" alt="Visitas de estudio">
      <h3>Visitas de estudio</h3>
      <p>Visitas académicas de grupos de estudiantes o docentes/investigadores.</p>
    </div>
  </div>

  <div class="contenido">
    <div class="tipo-movilidad">
      <img src="assets/img/icon.svg" alt="Cursos Cortos">
      <h3>Cursos Cortos</h3>
      <p>Programas diseñados por iniciativa de la IES de acogida, no mayor a 3 meses.</p>
    </div>
    <div class="tipo-movilidad">
      <img src="assets/img/icon.svg" alt="Visitas de estudio">
      <h3>Visitas de estudio</h3>
      <p>Visitas académicas de grupos de estudiantes o docentes/investigadores.</p>
    </div>
  </div>

</section>
<section class="seccion-3">
  <div class="card">
    <h3 class="card-title">¿Eres estudiante UTPL?</h3>
    <img src="assets/img/image.png" alt="Campus UTPL" class="card-image">
    <button class="card-button">Ingresa aquí</button>
  </div>
  <div class="card">
    <h3 class="card-title">¿Eres estudiante visitante?</h3>
    <img src="assets/img/image.png" alt="Campus UTPL" class="card-image">
    <button class="card-button">Ingresa aquí</button>
  </div>
</section>

<section class="seccion-4">
  <div class="leyenda">
    <img src="assets/img/linea.svg" alt="Linea">
    <span>
      AT + 360 U-T-S
    </span>
  </div>
  <div class="plataforma">
    <h3>
      Plataforma Transformación Académica + Visor 360 Docente - Estudiante
    </h3>
  </div>
</section>

<section class="seccion-5">
  <div class="leyenda">
    <img src="assets/img/linea.svg" alt="Linea">
    <span>
      Impacto
    </span>
  </div>
  <div class="plataforma">
    <h3>
      AT + 360 U-T-S
    </h3>
  </div>
  <div class="cajas">
    <div class="caja">Empower yourself with the knowledge and skills gained through online education! Empower yourself with the knowledge and skills gained through online education!</div>
    <div class="caja">Empower yourself with the knowledge and skills gained through online education! Empower yourself with the knowledge and skills gained through online education!</div>
    <div class="caja">Empower yourself with the knowledge and skills gained through online education! Empower yourself with the knowledge and skills gained through online education!</div>
  </div>
</section>

<section class="seccion-6">
  <div class="comentarios">
    <h2>Únete a darnos tu comentario</h2>
    <div class="comment-box">
      <input type="text" placeholder="Ingresa tu comentario aquí">
      <button>Enviar</button>
    </div>
  </div>
</section>


<app-footer></app-footer>

</body>
</html>




