<app-header></app-header>
<div class="container">
  <div class="contenedor">
    <!-- Sidebar -->
    <nav class="sidebar">
      <button (click)="setView('incoming')" [class.active]="currentView === 'incoming'">
        Incoming
      </button>
      <button (click)="setView('outgoing')" [class.active]="currentView === 'outgoing'">
        Outgoing
      </button>
    </nav>

    <!-- Tabla de Incoming -->
    <div *ngIf="currentView === 'incoming'" class="seccion">
      <h3>Incoming</h3>

      <!-- Barra de Búsqueda -->
      <div class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Buscar"
          [(ngModel)]="searchTerm"
          (input)="filterUsers()"/>
        <img src="assets/img/buscar.svg" alt="Logo buscar">
      </div>

      <table>
        <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Universidad</th>
          <th>Periodo</th>
          <th *ngIf="tieneUsuariosAprobados()">Fecha Inicio</th>
          <th *ngIf="tieneUsuariosAprobados()">Fecha Fin</th>
          <th *ngIf="tieneUsuariosAprobados()">Acciones</th>
          <th>Seguimiento</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of incomingUsers">
          <td>{{ user.idNumber }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.university }}</td>
          <td>{{ user.period }}</td>

          <!-- Fecha Inicio -->
          <td>
            <ng-container *ngIf="user.estadoPostulacion === 'aprobada'; else guion">
              <input type="date" [(ngModel)]="user.fechaInicio" [disabled]="user.fechasGuardadas">
            </ng-container>
          </td>

          <!-- Fecha Fin -->
          <td>
            <ng-container *ngIf="user.estadoPostulacion === 'aprobada'; else guion">
              <input type="date" [(ngModel)]="user.fechaFin" [disabled]="user.fechasGuardadas">
            </ng-container>
          </td>

          <!-- Acciones -->
          <td>
            <ng-container *ngIf="user.estadoPostulacion === 'aprobada'; else guion">
              <button *ngIf="!user.fechasGuardadas" (click)="guardarFechas(user)">Guardar</button>
            </ng-container>
          </td>

          <td><button (click)="verSeguimiento(user.email)">Ver Seguimiento</button></td>

        </tr>
        </tbody>
      </table>
    </div>

    <!-- Template para mostrar el guion cuando no está aprobada -->
    <ng-template #guion>-</ng-template>


    <!-- Tabla de Outgoing -->
    <div *ngIf="currentView === 'outgoing'" class="seccion">
      <h3>Outgoing</h3>

      <!-- Barra de Búsqueda -->
      <div class="search-box">
        <input
          type="text"
          class="search-input"
          placeholder="Buscar"
          [(ngModel)]="searchTerm"
          (input)="filterUsers()"/>
          <img src="assets/img/buscar.svg" alt="Logo buscar">
        />
      </div>
      <table>
        <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Universidad</th>
          <th>Periodo</th>
          <th>Seguimiento</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of outgoingUsers">
          <td>{{ user.idNumber }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.university }}</td>
          <td>{{ user.period }}</td>
          <td><button (click)="verSeguimiento(user.email)">Ver Seguimiento</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
