<app-header></app-header>
<div class="container">
  <div class="contenedor">
    <!-- Sidebar -->
    <nav class="sidebar">
      <button (click)="setView('incoming')" [class.active]="currentView === 'incoming'">
        Incoming
      </button>
      <button (click)="setView('outgoing')" [class.active]="currentView === 'outgoing'">
        Outgoing
      </button>
    </nav>

    <!-- Tabla de Incoming -->
    <div *ngIf="currentView === 'incoming'" class="seccion">
      <h3>Incoming</h3>
      <table>
        <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Universidad</th>
          <th>Periodo</th>
          <th>Seguimiento</th>
          <th *ngIf="tieneUsuariosAprobados()">Fecha Inicio</th>
          <th *ngIf="tieneUsuariosAprobados()">Fecha Fin</th>
          <th *ngIf="tieneUsuariosAprobados()">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of incomingUsers">
          <td>{{ user.idNumber }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.university }}</td>
          <td>{{ user.period }}</td>
          <td><button (click)="verSeguimiento(user.email)">Ver Seguimiento</button></td>

          <td *ngIf="user.estadoPostulacion === 'aprobada'">
            <input type="date" [(ngModel)]="user.fechaInicio" [disabled]="user.fechasGuardadas">
          </td>
          <td *ngIf="user.estadoPostulacion === 'aprobada'">
            <input type="date" [(ngModel)]="user.fechaFin" [disabled]="user.fechasGuardadas">
          </td>
          <td *ngIf="user.estadoPostulacion === 'aprobada'">
            <button *ngIf="!user.fechasGuardadas" (click)="guardarFechas(user)">Guardar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Tabla de Outgoing -->
    <div *ngIf="currentView === 'outgoing'" class="seccion">
      <h3>Outgoing</h3>
      <table>
        <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Universidad</th>
          <th>Periodo</th>
          <th>Seguimiento</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of outgoingUsers">
          <td>{{ user.idNumber }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.university }}</td>
          <td>{{ user.period }}</td>
          <td><button (click)="verSeguimiento(user.email)">Ver Seguimiento</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
