<app-header></app-header>
<body>
<div>
  <h3>Becas</h3>
  <swiper-container pagination="true" slides-per-view="3" speed="500" css-mode="true" navigation="true">
    <div></div>
    <swiper-slide *ngFor="let slide of slides">
      <div class="card">
        <div class="card-title">{{ slide.name }}</div>
        <div class="card-content">{{ slide.summary}}</div>
        <div class="card-content">{{ slide.date}}</div>
        <button (click)="verDetalles(slide)">Más información</button>
      </div>
    </swiper-slide>

  </swiper-container>
</div>
<div>
  <h3>Eventos</h3>
  <swiper-container pagination="true" slides-per-view="3" speed="500" css-mode="true" navigation="true">
    <div></div>
    <swiper-slide *ngFor="let slide of slides">
      <div class="card">
        <div class="card-title">{{ slide.name }}</div>
        <div class="card-content">{{ slide.summary}}</div>
        <div class="card-content">{{ slide.date}}</div>
        <button (click)="verDetalles(slide)">Más información</button>
      </div>
    </swiper-slide>

  </swiper-container>
</div>
<div>
  <h3>Proyectos</h3>
  <swiper-container pagination="true" slides-per-view="3" speed="500" css-mode="true" navigation="true">
    <div></div>
    <swiper-slide *ngFor="let slide of slides">
      <div class="card">
        <div class="card-title">{{ slide.name }}</div>
        <div class="card-content">{{ slide.summary}}</div>
        <div class="card-content">{{ slide.date}}</div>
        <button (click)="verDetalles(slide)">Más información</button>
      </div>
    </swiper-slide>

  </swiper-container>
</div>


</body>
