.personal-data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
}

.personal-data-container h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.informacion-obligatoria {
  padding: 40px 10%;
}

/* Contenedor con Grid para distribuir los campos */
.campos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Mínimo 250px, ajusta automáticamente */
  gap: 20px; /* Espaciado entre elementos */
}

/* Estilos de cada campo */
.campo {
  display: flex;
  flex-direction: column;
}

.required-label::after {
  content: " *";
  color: red;
}

/* Estilos de los inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select {
  padding: 8px;
  margin-top:10px ;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
}



/* Responsividad para diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  .campos {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en tablets */
  }
}

@media (max-width: 768px) {
  .campos {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles */
  }
}

@media (max-width: 480px) {
  .campos {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas pequeñas */
  }
}

.boton{
  display: flex;
  justify-content: center;
  margin-top: 15px;

}

.boton button{
  display: inline-block;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgba(4, 65, 112, 1);
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 13px;
  margin: 0;

}

.boton:hover button{
  color: rgba(4, 65, 112, 1);
  background-color: #E2E2E2;
}

.declaracion{
  display: flex;
  gap: 10px;
  margin: 20px 0 20px 0;
  align-items: center;
}
