<app-header></app-header>
<div class="options-container">
  <h2 class="seleccionar">Seleccione el tipo de movilidad:</h2>
  <!-- Opciones circulares -->
  <div class="circle-options">
    <div
      class="circle-option"
      *ngFor="let option of options"
      (click)="selectOption(option)"
    >
      <img [src]="option.icon" [alt]="option.name" />
      <p>{{ option.name }}</p>
    </div>
  </div>

  <!-- Requisitos y Pasos -->
  <div *ngIf="selectedOption" class="details-container">
    <div class="titulo-boton">
      <h2>{{ selectedOption.name }}</h2>
      <button class="boton" routerLink="/out">Inicia tu proceso aquí</button>
    </div>

    <h3>INDICACIONES</h3>
    <ul>
      <li>
        En el siguiente enlace podrás observar todas las universidades con la que puedes hacer tu intercambio:
        <a href="https://docs.google.com/spreadsheets/d/1A07kaX2sZB_6yxBtdbecuAjyUn0ZkfZs/edit?gid=366283768#gid=366283768" target="_blank" download>Ver documento</a>
      </li>
      <li>
        En el siguiente enlace podrás observar todas las universidades con la que puedes hacer tu intercambio:
        <a href="https://utpl-my.sharepoint.com/:w:/r/personal/utplglobalcampus_utpl_edu_ec/Documents/Oficio%20Director-%20Selecci%C3%B3n%20Materias.docx?d=w1459f178a2a94d49b7bde55749eb10b3&csf=1&web=1&e=QTbc2w" target="_blank" download>Ver documento</a>
      </li>
    </ul>



    <h3>REQUISITOS</h3>
    <ul>
      <li *ngFor="let req of selectedOption.requirements">{{ req }}</li>
    </ul>
    <div class="nota">
    <h3>NOTA:</h3>
    <span>Se podrán requerir más documentos</span>
    </div>

    <h3>PASOS A SEGUIR</h3>
    <div class="steps-container">
      <div class="step-card" *ngFor="let step of selectedOption.steps; let i = index">
        <div class="card-titulo">
          <span class="step-number">Paso {{ i + 1 }}</span>
          <span class="step-title" *ngIf="step.title">{{ step.title }}</span>
        </div>
        <p>{{ step.description }}</p>
      </div>
    </div>

  </div>
</div>
