<app-header></app-header>
<body>
<div class="detalle-container">
  <div class="header">
    <img src="assets/icons/atras.png" (click)="volver()">
    <h4>Movilidad Estudiantil</h4>
  </div>

  <table>
    <tr><th>Tipo de programa</th><td>{{ data?.type }}</td></tr>
    <tr><th>Nombre del programa</th><td>{{ data?.name }}</td></tr>
    <tr><th>Idioma</th><td>{{ data?.language }}</td></tr>
    <tr><th>Duración</th><td>{{ data?.duration }}</td></tr>
    <tr><th>Temática del programa</th><td>{{ data?.topic }}</td></tr>
    <tr><th>Descripción del programa</th><td>{{ data?.description }}</td></tr>
    <tr><th>Elegibilidad</th><td>
      <ul>
        <li *ngFor="let item of data?.eligibility">
          <img src="assets/icons/vineta.png">{{ item }}</li>
      </ul>
    </td></tr>
    <tr><th>Beneficios</th><td>
      <ul>
        <li *ngFor="let item of data?.benefits">
          <img src="assets/icons/vineta.png">
          {{ item }}</li>
      </ul>
    </td></tr>
    <tr><th>Fecha límite de aplicación</th><td>{{ data?.date }}</td></tr>
    <tr><th>Más información</th><td>{{ data?.info }}</td></tr>
  </table>
</div>

</body>
