<div class="bar">
  <nav>
    <button [routerLink]="['/personal-data']" [queryParams]="{ userId: userId }">
      Datos Personales
    </button>
    <button [routerLink]="['/docs']" [queryParams]="{ userId: userId }">
      Validación de Documentos
    </button>
    <button [routerLink]="['/university-data']" [queryParams]="{ userId: userId }">
      Datos de la Universidad
    </button>
    <button [routerLink]="['/carta-aceptacion']" [queryParams]="{ userId: userId }">
      Carta de Aceptación
    </button>
    <button [routerLink]="['/flujo']" [queryParams]="{ userId: userId }">
      Flujo de Tesis
    </button>
  </nav>
</div>
