<!-- Barra normal -->
<div class="bar" *ngIf="!showNewSteps">
  <nav>
    <button [routerLink]="['/personal-data']" [queryParams]="{ userEmail: email }">
      Datos Personales
    </button>
    <button [routerLink]="['/docs']" [queryParams]="{ userEmail: email }">
      Validación de Documentos
    </button>
    <button [routerLink]="['/university-data']" [queryParams]="{ userEmail: email }">
      Datos de la Universidad
    </button>
    <button [routerLink]="['/carta-aceptacion']" [queryParams]="{ userEmail: email }">
      Carta de Aceptación
    </button>
    <button [routerLink]="['/flujo']" [queryParams]="{ userEmail: email }">
      Certificado de Notas
    </button>
  </nav>
</div>

<!-- Barra nueva para usuarios con campo 'proceso' -->
<div class="bar" *ngIf="showNewSteps">
  <nav>
    <button [routerLink]="['/out']" [queryParams]="{ userEmail: email }">
      Datos Personales
    </button>
    <button [routerLink]="['/docs']" [queryParams]="{ userEmail: email }">
      Validación de Documentos
    </button>
    <button [routerLink]="['/step3']" [queryParams]="{ userEmail: email }">
      Elección de Materias
    </button>
    <!-- Aquí puedes añadir más pasos nuevos según necesites -->
  </nav>
</div>
