<div class="w-full bg-gray-800 p-4 text-white">
  <nav class="flex justify-around">
    <button [routerLink]="['/personal-data']" [queryParams]="{ userId: userId }" routerLinkActive="text-yellow-300">
      Datos Personales
    </button>
    <button [routerLink]="['/docs']" [queryParams]="{ userId: userId }" routerLinkActive="text-yellow-300">
      Validación de Documentos
    </button>
    <button [routerLink]="['/university-data']" [queryParams]="{ userId: userId }" routerLinkActive="text-yellow-300">
      Datos de la Universidad
    </button>
    <button [routerLink]="['/carta-aceptacion']" [queryParams]="{ userId: userId }" routerLinkActive="text-yellow-300">
      Carta de Aceptación
    </button>
    <button [routerLink]="['/flujo']" [queryParams]="{ userId: userId }" routerLinkActive="text-yellow-300">
      Flujo de Tesis
    </button>
  </nav>
</div>
