<app-header></app-header>
<app-bar></app-bar>
<body>
<h2>Ingreso y Validación de Documentación</h2>


<!-- Para el usuario con role 'user' -->
<div *ngIf="role !== 'admin'">
  <h3 *ngIf="documentos.length === 0 || documentos.length === 1">Carga tu nuevo documento</h3>
  <!-- Permitir al usuario cargar un nuevo documento si no hay documentos -->
  <div class="tabla">
    <table *ngIf="documentos.length === 0 || documentos.length === 1">
      <thead>
      <tr>
        <th>Adjuntar Documento</th>
        <th>Descripción</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="archivo" type="file" (change)="onFileSelected($event)">
          <label for="archivo" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu documento aquí' }}
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="descripcion" placeholder="Descripción del documento">
        </td>
        <td>
          <button (click)="cargarDocumento()">Cargar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <h3>Documentos Cargados</h3>
  <div class="tabla">
    <table>
      <tr>
        <th>Acceso al documento</th>
        <th>Descripción</th>
        <th>Fecha de ingreso</th>
        <th>Fecha de validación</th>
        <th>Observaciones</th>
        <th>Estado</th>
      </tr>
      <tr *ngFor="let doc of documentos">
        <td>
          <!-- Mostrar el input si el documento está en 'pendiente' -->
          <ng-container *ngIf="doc.estado === 'pendiente'; else verDoc">
            <input class="inputNover" id="archivo-{{doc.id}}" type="file" (change)="onFileSelected($event)">
            <label for="archivo-{{doc.id}}" class="custom-file-upload">
              <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
              {{ archivoCargado ? 'Archivo cargado' : 'Reemplazar documento' }}
            </label>
          </ng-container>

          <!-- Mostrar el enlace si el documento no está en 'pendiente' -->
          <ng-template #verDoc>
            <a *ngIf="doc.archivo" (click)="verDocumento(doc.archivo)">Ver documento</a>
            <span *ngIf="!doc.archivo">No disponible</span>
          </ng-template>
        </td>
        <td>{{ doc.descripcion }}</td>
        <td>{{ doc.fechaIngreso }}</td>
        <td>{{ doc.fechaValidacion || '-' }}</td>
        <td>{{ doc.observaciones || '-' }}</td>
        <td>{{ doc.estado }}</td>

        <td *ngIf="doc.estado === 'pendiente'">
          <button (click)="cargarDocumento(doc)">Actualizar</button>
        </td>

      </tr>

    </table>
  </div>


</div>


<!-- Para el usuario con role 'admin' -->
<div *ngIf="role === 'admin'">
  <h3>Documentos del usuario: {{ userEmail }}</h3>
  <table>
    <tr>
      <th>Acceso</th>
      <th>Descripción</th>
      <th>Fecha de ingreso</th>
      <th>Fecha de validación</th>
      <th>Observaciones</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let doc of documentos" >
      <td>
        <a *ngIf="doc.archivo" (click)="verDocumento(doc.archivo)">Ver documento</a>
      </td>
      <td>{{ doc.descripcion }}</td>
      <td>{{ doc.fechaIngreso }}</td>
      <td>{{ doc.fechaValidacion || '-' }}</td>
      <td>
        <input [(ngModel)]="doc.observaciones" placeholder="Observaciones">
      </td>
      <td>
        <select [(ngModel)]="doc.estado">
          <option value="en revisión">En revisión</option>
          <option value="aprobado">Aprobado</option>
          <option value="pendiente">Pendiente</option>
        </select>
      </td>
      <td>
        <button (click)="validarDocumento(doc)">Guardar</button>
      </td>
    </tr>
  </table>
</div>

<div class="botones-admin">
  <!-- Para el admin: Generar Oficio cuando los documentos están aprobados -->
  <div *ngIf="role === 'admin' && documentosAprobados >= 2">
    <button (click)="generarOficio()">Generar Oficio</button>
  </div>

  <!-- Descargar Oficio -->
  <div *ngIf="role === 'admin' && oficioGenerado">
    <button (click)="descargarOficio()">Descargar Oficio</button>
  </div>

  <!-- Para el admin: Generar Carta de Compromiso después de descargar el Oficio -->
  <div *ngIf="role === 'admin' && oficioGenerado">
    <button (click)="generarCartaCompromiso()">Generar Carta de Aceptación</button>
  </div>

  <!-- Para el usuario: Ver la Carta de Compromiso en su lista de documentos -->
  <div *ngIf="role === 'admin' && cartaCompromisoSubida">
    <!-- Input para seleccionar el archivo -->
    <input type="file" (change)="onFileSelected1($event)" />

    <!-- Botón para guardar el archivo en Firebase -->
    <button (click)="guardarCartaCompromiso()">Guardar Carta de Compromiso</button>

  </div>

</div>

<!-- Para el usuario (descarga y carga de la carta) -->
<div *ngIf="role !== 'admin' && documentosAprobados >= 2">
  <h3>Carta de Compromiso</h3>
  <div class="tabla">
    <table>
      <thead>
      <tr>
        <th>Descargar Carta</th>
        <th>Subir Carta Firmada</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <button (click)="descargarCartaAceptacion()">Descargar Carta</button>
        </td>
        <td>
          <div class="adjuntar-carta">
            <input id="carta-archivo" type="file" (change)="onCartaSelected($event)">
            <label for="carta-archivo" class="custom-file-upload">
              <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
              {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu carta de aceptación firmada' }}
            </label>
            <button (click)="subirCartaAceptacion()">Subir</button>
          </div>
        </td>
        <td>{{ cartaEstado || 'Pendiente' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Para el admin: visualizar la carta subida por el usuario -->
<div *ngIf="role === 'admin' && cartaSubida">
  <h3>Carta de Aceptación Subida</h3>
  <button (click)="verDocumento(cartaSubida)">Ver Documento</button>
</div>




</body>
