<app-header></app-header>
<app-bar></app-bar>
<body>
<h2>Ingreso y Validación de Documentación</h2>

<div *ngIf="!showDocumentSection">
<!-- Para el usuario con role 'user' -->
<div *ngIf="role !== 'admin'">
  <h3 *ngIf="documentos.length === 0 || documentos.length === 1 || documentos.length === 2">Carga tu nuevo documento</h3>
  <!-- Permitir al usuario cargar un nuevo documento si no hay documentos -->
  <div class="tabla">
    <div *ngIf="documentos.length === 0 || documentos.length === 1 || documentos.length === 2" class="details-container">
      <h4>Para realizar tu postulación carga los siguientes documentos:</h4>
      <li>Copia de pasaporte a color</li>
      <li>Certificado Académico Oficial de calificaciones</li>
      <li>Oficio a Director y selección de materias</li>
    </div>
    <table *ngIf="documentos.length === 0 || documentos.length === 1 || documentos.length === 2">
      <thead>
      <tr>
        <th>Adjuntar Documento</th>
        <th>Descripción</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="archivo" type="file" (change)="onFileSelected($event)">
          <label for="archivo" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu documento aquí' }}
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="descripcion" placeholder="Descripción del documento">
        </td>
        <td>
          <button (click)="cargarDocumento()">Cargar</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <!-- Pop-up modal de éxito -->
  <div class="success-modal" *ngIf="mostrarModal">
    <div class="modal-content">
      <h4>¡Postulación exitosamente realizada!</h4>
      <p>Gracias por postular, por favor estar pendiente de la plataforma y notificaciones para conocer el estado de tu
        postulación.</p>
    </div>
  </div>



  <h3>Documentos Cargados</h3>
  <div class="tabla">
    <table>
      <tr>
        <th>Acceso al documento</th>
        <th>Descripción</th>
        <th>Fecha de ingreso</th>
        <th>Fecha de validación</th>
        <th>Observaciones</th>
        <th>Estado</th>
      </tr>
      <tr *ngFor="let doc of documentos">
        <td>
          <!-- Mostrar el input si el documento está en 'pendiente' -->
          <ng-container *ngIf="doc.estado === 'pendiente'; else verDoc">
            <input class="inputNover" id="archivo-{{doc.id}}" type="file" (change)="onFileSelected($event)">
            <label for="archivo-{{doc.id}}" class="custom-file-upload">
              <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
              {{ archivoCargado ? 'Archivo cargado' : 'Reemplazar documento' }}
            </label>
          </ng-container>

          <!-- Mostrar el enlace si el documento no está en 'pendiente' -->
          <ng-template #verDoc>
            <a *ngIf="doc.archivo" (click)="verDocumento(doc.archivo)">Ver documento</a>
            <span *ngIf="!doc.archivo">No disponible</span>
          </ng-template>
        </td>
        <td>{{ doc.descripcion }}</td>
        <td>{{ doc.fechaIngreso }}</td>
        <td>{{ doc.fechaValidacion || '-' }}</td>
        <td>{{ doc.observaciones || '-' }}</td>
        <td>{{ doc.estado }}</td>

        <td *ngIf="doc.estado === 'pendiente'">
          <button (click)="cargarDocumento(doc)">Actualizar</button>
        </td>

      </tr>

    </table>

    <!-- Pop-up modal de felicitaciones -->
    <div class="success-modal" *ngIf="mostrarModalFelicidades">
      <div class="modal-content">
        <h4>🎉 ¡Felicidades!</h4>
        <p>Tu certificado de notas ha sido cargado. Gracias por vivir esta experiencia con la UTPL.</p>
      </div>
    </div>
  </div>


</div>


<!-- Para el usuario con role 'admin' -->
<div *ngIf="role === 'admin'">
  <h3>Documentos del usuario: {{ userEmail }}</h3>
  <table>
    <tr>
      <th>Acceso</th>
      <th>Descripción</th>
      <th>Fecha de ingreso</th>
      <th>Fecha de validación</th>
      <th>Observaciones</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let doc of documentos" >
      <td>
        <a *ngIf="doc.archivo" (click)="verDocumento(doc.archivo)">Ver documento</a>
      </td>
      <td>{{ doc.descripcion }}</td>
      <td>{{ doc.fechaIngreso }}</td>
      <td>{{ doc.fechaValidacion || '-' }}</td>
      <td>
        <input [(ngModel)]="doc.observaciones" placeholder="Observaciones">
      </td>
      <td>
        <select [(ngModel)]="doc.estado">
          <option value="en revisión">En revisión</option>
          <option value="aprobado">Aprobado</option>
          <option value="pendiente">Pendiente</option>
        </select>
      </td>
      <td>
        <button (click)="validarDocumento(doc)">Guardar</button>
      </td>
    </tr>
  </table>
</div>

<div class="botones-admin">
  <!-- Para el admin: Generar Oficio cuando los documentos están aprobados -->
  <div *ngIf="role === 'admin' && documentosAprobados >= 3 && mostrarBotones">
    <button *ngIf="!oficioGenerado" (click)="generarOficio()">Generar Oficio</button>
  </div>

  <!-- Descargar Oficio
  <div *ngIf="role === 'admin' && oficioGenerado">
    <button (click)="descargarOficio()">Descargar Oficio</button>
  </div>
  -->
  <!-- Para el admin: Generar Carta de Compromiso después de descargar el Oficio -->
  <div *ngIf="role === 'admin' && oficioGenerado && !cartaAceptacionSubida">
    <h3>Carta de Aceptación</h3>
    <div class="details-container">
      <li>Por favor, descarga la carta de aceptación, colocar las materias y volver a subirla en formato pdf.</li>
    </div>
    <div class="tabla">
      <table>
        <thead>
        <tr>
          <th>Generar Carta</th>
          <th>Subir Carta Firmada</th>
          <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button (click)="generarCartaCompromiso()">Generar Carta</button>
          </td>
          <td>
            <div class="adjuntar-carta">
              <input id="carta-aceptacion-archivo" type="file" (change)="onCartaAceptacionSelected($event)">
              <label for="carta-aceptacion-archivo" class="custom-file-upload">
                <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
                {{ archivoAceptacionCargado ? 'Archivo cargado' : 'Adjunta tu carta de aceptación' }}
              </label>
              <button (click)="subirCartaCompromiso()">Subir</button>
            </div>
          </td>
          <td>{{ cartaAceptacionEstado || 'Pendiente' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>






  <!-- Para el usuario: Ver la Carta de Compromiso en su lista de documentos -->
  <div *ngIf="role === 'admin' && cartaAceptacionSubida && !cartaCompromisoSubida">
    <!-- Input para seleccionar el archivo -->
    <input id="carta-compromiso" type="file" (change)="onFileSelected1($event)">
    <label for="carta-compromiso" class="custom-file-upload">
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu carta de compromiso' }}
    </label>

    <!-- Botón para guardar el archivo en Firebase -->
    <button (click)="guardarCartaCompromiso()">Guardar Carta de Compromiso</button>

  </div>

</div>

<!-- Para el usuario (descarga y carga de la carta) -->
<div *ngIf="role !== 'admin' && documentosAprobados >= 2 && !mostrarEncuesta">
    <h3>Carta de Compromiso</h3>
  <div class="details-container">
    <li>Por favor, descargar la carta, firmarla y volverla a subir.</li>
  </div>
  <div class="tabla">
    <table>
      <thead>
      <tr>
        <th>Descargar Carta</th>
        <th>Subir Carta Firmada</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <button (click)="descargarCartaAceptacion()">Descargar Carta</button>
        </td>
        <td>
          <div class="adjuntar-carta">
            <input id="carta-archivo" type="file" (change)="onCartaSelected($event)">
            <label for="carta-archivo" class="custom-file-upload">
              <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
              {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu carta de compromiso firmada' }}
            </label>
            <button (click)="subirCartaAceptacion()">Subir</button>
          </div>
        </td>
        <td>{{ cartaEstado || 'Pendiente' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Para el admin: visualizar la carta subida por el usuario -->
<div *ngIf="role === 'admin' && cartaSubida">
  <h3>Carta de Aceptación Subida</h3>
  <button (click)="verDocumento(cartaSubida)">Ver Documento</button>
</div>

<button *ngIf="mostrarEncuesta && cartaCompromisoSubida && role !== 'admin'" (click)="abrirEncuesta()">Realizar Encuesta</button>


<!-- Para el admin: Subir el certificado de notas -->
<div class="subir-notas" *ngIf="role === 'admin' && encuestaEnviada && !certificadoNotasSubido">
  <h3>Subir Certificado de Notas</h3>
  <div class="archivo">
    <input id="notas" type="file" (change)="onFileSelectedCertificado($event)">
    <label for="notas" class="custom-file-upload">
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu documento aquí' }}
    </label>
    <button (click)="guardarCertificado()">Guardar Certificado</button>
  </div>
</div>

</div>
<div *ngIf="showDocumentSection">
  <!-- ======================= SUBIDA DE PRIMEROS 5 DOCUMENTOS (USUARIO) ======================= -->

  <h3 *ngIf="role !== 'admin' && documentos.length < 5">Carga tu nuevo documento</h3>
  <div class="tabla" *ngIf="role !== 'admin' && documentos.length < 5">
    <div class="details-container">
      <h4>Para realizar tu postulación carga los siguientes documentos:</h4>
      <li>Copia de pasaporte a color</li>
      <li>Certificado Académico Oficial de calificaciones</li>
      <li>Oficio a Director y selección de materias</li>
      <li>Otros documentos requeridos</li>
    </div>
    <table>
      <thead>
      <tr>
        <th>Adjuntar Documento</th>
        <th>Descripción</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="archivo" type="file" (change)="onFileSelected($event)">
          <label for="archivo" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu documento aquí' }}
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="descripcion" placeholder="Descripción del documento">
        </td>
        <td>
          <button (click)="cargarDocumento()">Cargar</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div *ngIf="role !== 'admin'">
    <h3>Documentos Cargados</h3>
    <div class="tabla">
      <table>
        <tr>
          <th>Acceso al documento</th>
          <th>Descripción</th>
          <th>Fecha de ingreso</th>
          <th>Fecha de validación</th>
          <th>Observaciones</th>
          <th>Estado</th>
        </tr>
        <tr *ngFor="let doc of documentos">
          <td>
            <!-- Mostrar el input si el documento está en 'pendiente' -->
            <ng-container *ngIf="doc.estado === 'pendiente'; else verDoc">
              <input class="inputNover" id="archivo-{{doc.id}}" type="file" (change)="onFileSelected($event)">
              <label for="archivo-{{doc.id}}" class="custom-file-upload">
                <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
                {{ archivoCargado ? 'Archivo cargado' : 'Reemplazar documento' }}
              </label>
            </ng-container>

            <!-- Mostrar el enlace si el documento no está en 'pendiente' -->
            <ng-template #verDoc>
              <a *ngIf="doc.archivo" (click)="verDocumento(doc.archivo)">Ver documento</a>
              <span *ngIf="!doc.archivo">No disponible</span>
            </ng-template>
          </td>
          <td>{{ doc.descripcion }}</td>
          <td>{{ doc.fechaIngreso }}</td>
          <td>{{ doc.fechaValidacion || '-' }}</td>
          <td>{{ doc.observaciones || '-' }}</td>
          <td>{{ doc.estado }}</td>

          <td *ngIf="doc.estado === 'pendiente'">
            <button (click)="cargarDocumento(doc)">Actualizar</button>
          </td>

        </tr>

      </table>


    </div>
  </div>


  <!-- ======================= CARGA DE CARTA COMPROMISO POR ADMIN ======================= -->

  <div *ngIf="role === 'admin' && documentosAprobados >= 5 && !cartaCompromisoSubida">
    <h3>Subir Carta de Compromiso</h3>
    <input id="carta-compromiso" type="file" (change)="onFileSelected1($event)">
    <label for="carta-compromiso" class="custom-file-upload">
      <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
      {{ archivoCargado ? 'Archivo cargado' : 'Adjunta la carta de compromiso' }}
    </label>
    <button (click)="guardarCartaCompromiso()">Guardar Carta de Compromiso</button>
  </div>

  <!-- ======================= DESCARGA Y SUBIDA DE CARTA FIRMADA POR USUARIO ======================= -->

  <div *ngIf="role !== 'admin' && documentosAprobados >= 5  && !cartaCompromisoSubida">
    <h3>Carta de Compromiso</h3>
    <div class="details-container">
      <li>Por favor, descarga la carta, fírmala y vuelve a subirla.</li>
    </div>

    <table>
      <thead>
      <tr>
        <th>Descargar Carta</th>
        <th>Subir Carta Firmada</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><button (click)="descargarCartaAceptacion()">Descargar Carta</button></td>
        <td>
          <input id="carta-archivo" type="file" (change)="onCartaSelected($event)">
          <label for="carta-archivo" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu carta firmada' }}
          </label>
          <button (click)="subirCartaAceptacion()">Subir</button>
        </td>
        <td>{{ cartaEstado || 'Pendiente' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- ======================= SUBIDA DE 2 DOCUMENTOS ADICIONALES (USUARIO) ======================= -->

  <h3 *ngIf="role !== 'admin' && documentos.length >= 5 && cartaCompromisoSubida && documentos.length <= 7">Carga tus documentos adicionales</h3>
  <div class="tabla" *ngIf="role !== 'admin' && documentos.length >= 5 && cartaCompromisoSubida && documentos.length <= 7">
    <table>
      <thead>
      <tr>
        <th>Adjuntar Documento</th>
        <th>Descripción</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <input id="archivoExtra" type="file" (change)="onFileSelected($event)">
          <label for="archivoExtra" class="custom-file-upload">
            <img src="assets/img/upload-icon.svg" alt="Upload Icon" />
            {{ archivoCargado ? 'Archivo cargado' : 'Adjunta tu documento aquí' }}
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="descripcion" placeholder="Descripción del documento">
        </td>
        <td>
          <button (click)="cargarDocumento()">Cargar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- ======================= VALIDACIÓN DE DOCUMENTOS POR ADMIN ======================= -->

  <div *ngIf="role === 'admin'">
    <h3>Documentos del usuario: {{ userEmail }}</h3>
    <table>
      <thead>
      <tr>
        <th>Acceso</th>
        <th>Descripción</th>
        <th>Fecha de ingreso</th>
        <th>Fecha de validación</th>
        <th>Observaciones</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of documentos">
        <td>
          <a *ngIf="doc.archivo" (click)="verDocumento(doc.archivo)">Ver documento</a>
        </td>
        <td>{{ doc.descripcion }}</td>
        <td>{{ doc.fechaIngreso }}</td>
        <td>{{ doc.fechaValidacion || '-' }}</td>
        <td>
          <input [(ngModel)]="doc.observaciones" placeholder="Observaciones">
        </td>
        <td>
          <select [(ngModel)]="doc.estado">
            <option value="en revisión">En revisión</option>
            <option value="aprobado">Aprobado</option>
            <option value="pendiente">Pendiente</option>
          </select>
        </td>
        <td>
          <button (click)="validarDocumento(doc)">Guardar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- ======================= ENCUESTA PARA USUARIO ======================= -->

  <div *ngIf="role !== 'admin' && documentos.length === 8 && documentosAprobados === 7 && cartaCompromisoSubida">
    <h3>¡Todo listo!</h3>
    <button (click)="abrirEncuesta()">Realizar Encuesta</button>
  </div>
<app-footer></app-footer>
</div>
</body>
