<app-header></app-header>
<div class="options-container">
  <h2 class="seleccionar">Seleccione el tipo de movilidad:</h2>
  <!-- Opciones circulares -->
  <div class="circle-options">
    <div
      class="circle-option"
      *ngFor="let option of options"
      (click)="selectOption(option)"
    >
      <img [src]="option.icon" [alt]="option.name" />
      <p>{{ option.name }}</p>
    </div>
  </div>

  <!-- Requisitos y Pasos -->
  <div *ngIf="selectedOption" class="details-container">
    <div class="titulo-boton">
      <h2>{{ selectedOption.name }}</h2>
      <button
        class="boton"
        (click)="startOrContinueProcess()"
        [disabled]="isChecking">
        {{ isChecking ? 'Verificando...' : 'Inicia tu proceso aquí' }}
      </button>
    </div>


    <h3>REQUISITOS</h3>
    <ul>
      <li *ngFor="let req of selectedOption.requirements">{{ req }}</li>
    </ul>

    <h3>PASOS A SEGUIR</h3>
    <div class="steps-container">
      <div class="step-card" *ngFor="let step of selectedOption.steps; let i = index">
        <div class="card-titulo">
          <span class="step-number">Paso {{ i + 1 }}</span>
          <span class="step-title" *ngIf="step.title">{{ step.title }}</span>
        </div>
        <p>{{ step.description }}</p>
      </div>
    </div>

  </div>
</div>

